$color-primary: #9e9efc;
$color-primary-light: #5a73fc;
$color-primary-dark: #1c3eff;
$color-white: #ffff;
$color-black: #000;
$color-grey: grey;
$color-grey-light: #f7f0f0;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;
