//content
.comment-each .comment-each-content {
    position: relative;
}

//icon dot
.comment-each .fa-ellipsis-v {
    position: absolute;
    right: 0;
    top: 50%;
    width: 2rem;
    transform: translateY(-50%);
    padding-bottom: 1rem;
}

.display--none {
    display: none;
}
.display--block {
    display: block;
}

.comment-each .comment-each-box {
    opacity: 0;
    visibility: hidden;
}
.comment-each:hover .comment-each-box {
    opacity: 1;
    visibility: visible;
}
//

//button edit
.comment-each-content_button {
    grid-column: 2/ 3;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
}
